:root {
  color-scheme: dark; /* Dark style scrollbars etc.*/
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

calcite-loader {
  align-self: center;
  justify-self: center;
}

calcite-panel {
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-right {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn-no-style {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  border: none;
}

